<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
        <!--    <param name="ConversionPattern" value="%d %p %t [%C{1}.%M] - %m%n" /> -->
        <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1} - %m%n" />
        </layout>
    </appender>
    <appender name="LogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="logs/or_log4j.log" />
        <param name="MaxFileSize" value="1000KB" />
    <!-- Keep 10 backup file -->
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n" />
        </layout>
    </appender>
    <logger name="org.efs">
        <level value="DEBUG" />
    </logger>
    <logger name="org.efs.openreports.actions.ReportRunAction">
        <level value="DEBUG" />
    </logger>
    <logger name="org.efs.openreports.actions">
        <level value="DEBUG" />
    </logger>   
    <logger name="org.efs.openreports.providers.impl.ChartProviderImpl">
        <level value="DEBUG" />
    </logger>
    <logger name="org.efs.openreports.providers.impl.ParameterProviderImpl">
        <level value="DEBUG" />
    </logger>
    <logger name="org.efs.openreports.util.ScheduledReportJob">
        <level value="DEBUG" />
    </logger>
    <logger name="org.hibernate">
        <level value="DEBUG" />
    </logger>
    <logger name="org.jfree">
        <level value="ERROR" />
    </logger>
    <root>
        <level value="ERROR" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LogFile" />
    </root>
</log4j:configuration>